<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/unand_logo.png">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Kemahasiswaan FTI UNAND</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar nav_1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <a class="navbar-brand" href="#">
                        <img class="logo_nav" src="img/unand_logo.png" alt="">
                    </a>
                </div>
                <div class="col">
                    <p class="text_kmhs">KEMAHASISWAAN</p>
                    <p class="text_kmhs">Fakultas Teknologi Informasi</p>
                    <p class="text_kmhs1">Universitas Andalas</p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar nav_2 navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <ul class="navbar-nav">
                        <div class="col">
                            <a href="index.html">BERANDA</a>
                        </div>
                        <div class="col">
                            <a href="#">PROFIL</a>
                        </div>
                        <div class="col">
                            <a href="#">BERITA</a>
                        </div>
                        <div class="col">
                            <a href="#">E-BOOK</a>
                        </div>
                        <div class="col">
                            <a href="#">BERKAS</a>
                        </div>
                        <div class="col">
                            <a href="#">KONTAK</a>
                        </div>
                        <div class="col">
                            <a href="#">FAQ</a>
                        </div>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </nav>
    <!-- END NAVBAR -->
    
    <!-- ISI -->
    <section class=" mt-5 mb-5">
        <div class="container-fluid">
            <h2 class="mt-3 mb-3">Penerimaan Proposal Program Kreativitas Kemahasiswaan (PKM) 2022</h2>
            <img class="img_kampus" src="img/kampus.jpg" alt="">
            <p>Dalam rangka menggali potensi dan kreativitas mahasiswa dalam berbagai bidang, Direktorat Jendral Pembelajaran dan Kemahasiswaan Kementrian Pendidikan dan Kebudayaan Republik Indonesia (Ditjen Belmawa Kemendikbud RI)  kembali mengadakan kompetisi penalaran mahasiswa bertajuk Program Kreativitas Mahasiswa (PKM) pada tahun 2022.</p>
            <br><br>
            <p>Sosialisasi PKM 2022 FTI akan dilaksanakan pada jadwal :</p>
            <p>Hari/Tanggal : Rabu, 8 Desember 2021</p>
            <p>Waktu : 10.00 - 12.00</p>
            <p>Narasumber : Dr. Eng. Rahmadi Kurnia, Reviewer PKM Nasional, Wakil Dekan I FTI</p>
            <p>Link Zoom Acara :</p>
            <a href="http://unand.net/FdIpL" target="_blank">http://unand.net/FdIpL</a>
            <br><br>
            <p>Proposal dapat ditulis berdasarkan template berikut :</p>
            <ol>
                <li><a href="template/1.-TEMPLATE-PKM-R.docx" download>Template PKM-R</a></li>
                <li><a href="template/2.-TEMPLATE-PKM-K (1).docx" download>Template PKM-K</a></li>
                <li><a href="template/3.-TEMPLATE-PKM-PM.docx" download>Template PKM-PM</a></li>
                <li><a href="template/4.-TEMPLATE-PKM-PI.docx" download>Template PKM-PI</a></li>
                <li><a href="template/5.-TEMPLATE-PKM-KC.docx" download>Template PKM-KC</a></li>
                <li><a href="template/6.-TEMPLATE-PKM-GFK.docx" download>Template PKM-GFK</a></li>
                <li><a href="template/7.-TEMPLATE-PKM-GT.docx" download>Template PKM-GT</a></li>
            </ol>
            <br><br>
            <p>Batas akhir pengumpulan proposal : 31 Desember 2021</p>
            <p>Proposal PKM diunggah pada link berikut : <a href="http://unand.net/lKVyI">http://unand.net/lKVyI</a></p>
        </div>
    </section>
    <!-- ISI -->

    <!-- FOOTER AWAL -->
    <section class="foot_awal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-2">
                            <img class="logo_fti_foot" src="img/fti.png" alt="">
                        </div>
                        <div class="col">
                            <p class="text_foot1">FAKULTAS TEKNOLOGI INFORMASI</p>
                            <p class="text_foot2">UNIVERSITAS ANDALAS</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p class="foot_address">ALAMAT KANTOR</p>
                        <p class="foot_address">Kampus Unand Limau Manis, Padang - Fakultas Teknologi Informasi Unand</p>
                        <p class="foot_address">Sumatera Barat - 25163</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <p class="text_foot3">LINK</p>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <a href=""><img class="img_foot_link" src="img/unand_logo.png" alt=""></a>
                        </div>
                        <div class="col-md-3">
                            <a href=""><img class="img_foot_link" src="img/bemfti.png" alt=""></a>
                        </div>
                        <div class="col-md-3">
                            <a href=""><img class="img_foot_link" src="img/hmsi.png" alt=""></a>
                        </div>
                        <div class="col-md-3">
                            <a href=""><img class="img_foot_link" src="img//tekom.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER AWAL -->

    <!-- FOOTER AKHIR -->
    <section class="foot_akhir">
        <div class="container-fluid">
            <p class="copyright mt-3">© Direktorat Kemahasiswaan FTI Universitas Andalas</p>
        </div>
    </section>
    <!-- END FOOTER AKHIR -->

    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>